{% extends "base.html" %}
{% block content %}

<div class="container">
<div  class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
             <img src="{{item.image.url}}" >
            <h3>{{post.title}}</h3>
            <img src="{{post.image.url}}">
            <div class="flex flex-wrap md:justify-start -mt-6 md:mb-0 order-2 mb-6">
                <div class="last:mr-0 pt-6 mr-10"><div class="text-h3 font-raleway font-bold flex items-center">{{post.all_square}}м²</div>
                    <p class="mt-0.5 md:mt-1 text-basic">Общая</p></div>
                <div class="last:mr-0 pt-6 mr-10"><div class="text-h3 font-raleway font-bold flex items-center">{{post.living_square}}м²</div>
                    <p class="mt-0.5 md:mt-1 text-basic">Жилая</p></div>
                    <div class="last:mr-0 pt-6 mr-10"><div class="text-h3 font-raleway font-bold flex items-center">{{post.kitchen_square}}м²</div>
                        <p class="mt-0.5 md:mt-1 text-basic">Кухня</p>
                    </div><div class="last:mr-0 pt-6 mr-10"><div class="text-h3 font-raleway font-bold flex items-center">{{post.flor}} из {{post.all_floars}}</div>
                  <p class="mt-0.5 md:mt-1 text-basic">Этаж</p></div>
            </div>
            <h1>{{post.text}}</h1>
            <p>{{post.created_at}} by {{post.author}}</p>
        </div>
    </div>
</div>

{% endblock %}